<div class="home">
  <br>
  <br>
<header><h1>Today's film showings are:</h1></header>
 <% for film in @film_list%>
  <ul>
    <li style="list-style-type: none;">
      <h3><a href="/index/<%= film.id %>">
        <%= film.title %>
      </a></h3>
      </li>
  </ul>
 <% end %>
</div>
<br>
<br>
<br>
<br>
<div class="footer">
  <h5>For more information call 00000000</h5>
</div>
