<div class="home">
<h1>Today's film showings are:</h1>
 <% for film in @film_list%>
  <ul>
    <li>
      <h3><a href="/index/<%= film.id %>">
        <%= film.title %>
      </a></h3>
      </li>
  </ul>
 <% end %>
</div>
<br>
<br>
<br>
<br>
<div class="footer">
  <h5>For more information call 00000000</h5>
</div>
