body {
  background-color: #9FAF90
}

h1 {
  text-align: center;
}
.film-page {
  font-family: lato, serif;
  text-align: center;
}

 .film-page h1 {
  letter-spacing: 0.5em;
}


.film-page h3 {
  font-style: italic;
}

.home {
  font-family: lato, serif;
}

.home h3 {
  text-transform: uppercase;
  font-weight: 300;
}

.footer {
  text-align: center;
text-transform: uppercase;
}
